.gradio/*
.idea/*
tools/visual-pipeline-and-platform-evaluation-tool/.venv/*
tools/visual-pipeline-and-platform-evaluation-tool/intel/*
tools/visual-pipeline-and-platform-evaluation-tool/models/*
_codeql_detected_source_root
