# Node-RED specific files and directories for all usecases
usecase/*/node-red/.npm/
usecase/*/node-red/lib/
usecase/*/node-red/node_modules/
usecase/*/node-red/.config.*
usecase/*/node-red/.flows.*
usecase/*/node-red/flows_cred.json
usecase/*/node-red/package.json
usecase/*/node-red/package-lock.json
usecase/*/node-red/flows_template.json
usecase/*/node-red/.config.*.json
#usecase/*/node-red/public/images/
usecase/*/node-red/public/user_configuration_backup/
usecase/*/node-red/*-template.json

usecase/*/node-red/nodes/99-sample.html.demo
usecase/*/node-red/nodes/99-sample.js.demo
usecase/*/node-red/nodes/index.js
usecase/*/node-red/nodes/LICENSE
usecase/*/node-red/nodes/package.json
usecase/*/node-red/nodes/README.md

usecase/*/node-red/nodes/examples/
usecase/*/node-red/nodes/icons/
usecase/*/node-red/nodes/locales/
usecase/*/node-red/nodes/core/common/
usecase/*/node-red/nodes/core/network/
usecase/*/node-red/nodes/core/parsers/
usecase/*/node-red/nodes/core/sequence/
usecase/*/node-red/nodes/core/storage/

# Explicitly ignore these highlighted files under function folder
usecase/*/node-red/nodes/core/function/10-function.js
usecase/*/node-red/nodes/core/function/10-function.html
usecase/*/node-red/nodes/core/function/10-switch.js
usecase/*/node-red/nodes/core/function/10-switch.html
usecase/*/node-red/nodes/core/function/15-change.js
usecase/*/node-red/nodes/core/function/15-change.html
usecase/*/node-red/nodes/core/function/16-range.js
usecase/*/node-red/nodes/core/function/16-range.html
usecase/*/node-red/nodes/core/function/80-template.js
usecase/*/node-red/nodes/core/function/80-template.html
usecase/*/node-red/nodes/core/function/89-delay.js
usecase/*/node-red/nodes/core/function/89-delay.html
usecase/*/node-red/nodes/core/function/89-trigger.js
usecase/*/node-red/nodes/core/function/89-trigger.html
usecase/*/node-red/nodes/core/function/90-exec.js
usecase/*/node-red/nodes/core/function/90-exec.html
usecase/*/node-red/nodes/core/function/rbe.js
usecase/*/node-red/nodes/core/function/rbe.html

usecase/*/grafana/dashboards/*template.json

run_sample-template.sh

usecase/*/evam/config-template.json
#usecase/*/evam/videos
usecase/*/evam/models



