@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@import "./tokens/colors-base.css";
@import "./tokens/colors-semantic.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    "Montserrat", "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading:
    "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  ::-webkit-scrollbar {
    width: 0.1875rem;
    height: 0.1875rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--carbon-tint-1);
    border-radius: 0.375rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--carbon);
  }
}

@layer components {
  @keyframes dashedFlow {
    to {
      stroke-dashoffset: -20;
    }
  }

  .react-flow__edge-path {
    stroke-dasharray: 5, 5;
    animation: dashedFlow 0.5s linear infinite;
  }
}
